<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body
    class="bg-gray-50 w-screen h-screen flex flex-col-reverse justify-between md:flex-col font-inter md:justify-start"
  >
    <%- include('../partials/header') %>
    <main class="overflow-hidden relative h-full">
      <%- include('../partials/pages') %>
    </main>
    <%- include('../partials/signin') %>
    <%- include('../partials/onboard') %>
    <%- include('../partials/spinner') %>
  </body>
</html>
